<nav id="bar">
	<a><img width=10% alt="Prismo Logo" src="assets/logo-prismo.png"></a>
	<a routerLink="/welcome" routerLinkActive="active">Accueil</a>
	<a routerLink="/members-list" routerLinkActive="active">Membres</a>
</nav>
